*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root{
  --topoNav: rgb(248, 223, 80);
  --corpoH1: white;
  --rodapeText: black;
  --linha: rgba(102, 100, 100, 0.445);
}

html { 
  scroll-behavior: smooth; 
}